@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --obsidian: #0a0a0b;
  --graphite-mist: #1e293b;
  --clay-gray: #334155;
  --fog-gray: #64748b;
  --cloud-white: #f8fafc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  color: var(--cloud-white);
  background: var(--obsidian);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}